a{  /* selector 선택자, declaration 선언, property 속성, value 값 */
  color: black;
  text-decoration : none;
}
h1{
  font-size : 45px;
  text-align : center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
/*
.saw{    saw class
  color: gray;
}
*/
#grid ol{   /* id 값이 grid인 태그 밑에 있는 ol 태그 */
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 33px;
}
body{
  margin: 0;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 25px;
}
@media(max-width: 800px){
  h1{
    border-bottom: none;
  }
  #grid{
    display: block;
  }
  #grid ol{
    border-right: none;
  }
}
